
<%- include('partials/header') %>
<h1>Esto es el about</h1>


<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid, debitis laudantium, sunt dolores quos perferendis, praesentium eos nihil cupiditate corporis nesciunt aperiam culpa. Deserunt accusantium non sit, cumque libero maiores voluptate, adipisci odit harum tenetur nihil. Quidem sint dolore quo illum veniam tenetur animi, natus quas vero fugit officia soluta obcaecati error rem magni quod ad culpa praesentium accusamus enim rerum iusto! Voluptas voluptatum soluta, nulla, ex velit nisi laboriosam eius impedit quae, laborum accusantium libero officia in dolorem architecto beatae ea minus. Doloremque, accusamus? Molestiae odio rerum et culpa, magni, veritatis obcaecati, quasi harum molestias commodi magnam enim temporibus? </p>
<%- include('partials/footer') %>
